.background {
    width: 430px;
    height: 480px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.background .shape {
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}

.shape:first-child {
    background: linear-gradient(#1845ad, #23a2f6);
    left: -80px;
    top: -80px;
}

.shape:last-child {
    background: linear-gradient(to right, #ff5b84, #eb3461);
    right: -60px;
    bottom: -100px;
}

.loginForm {
    height: 520px;
    width: 400px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
    /* background-color: #222b45; */
    /* background: linear-gradient(310deg,
            hsl(209deg 93% 35%) 0%,
            hsl(213deg 74% 35%) 1%,
            hsl(215deg 63% 33%) 3%,
            hsl(217deg 56% 30%) 8%,
            hsl(219deg 50% 27%) 15%,
            hsl(221deg 44% 24%) 25%,
            hsl(223deg 38% 21%) 37%,
            hsl(225deg 35% 19%) 51%,
            hsl(226deg 36% 18%) 65%,
            hsl(226deg 36% 17%) 77%,
            hsl(227deg 36% 16%) 86%,
            hsl(228deg 37% 16%) 93%,
            hsl(228deg 37% 15%) 98%,
            hsl(229deg 38% 14%) 100%); */

    backdrop-filter: blur(20px);
}

.loginForm * {
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

.loginForm h3 {
    font-size: 25px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

.loginLabel {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

.loginInput {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

.loginInput :hover {
    background-color: rgba(255, 255, 255, 0.1);
}

::placeholder {
    color: #e5e5e5;
}

.loginButton {
    margin-top: 50px !important;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px !important;
    cursor: pointer;
}

.login,
.image {
    min-height: 100vh;
}

.bg-image {
    background-size: cover;
    background-position: center center;
}

.first-pane-background {
    /* background-color: #00DBDE; */
    background-image: linear-gradient(45deg, #00DBDE 0%, #FC00FF 100%);
}

.container-fluid {
    height: calc(100% - 100px);
    overflow-y: auto;
    margin: 0 !important;
}

.carousel-notification{
    height: 15%;
    margin-top: 5%;
}

.divider {
    color: #849DA8;
}