@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind src;



@font-face {
  font-family: 'Poppins';
  src: url(./assets/font/Poppins-Medium.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: 'PoppinsBold';
  src: url(./assets/font/Poppins-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Futura';
  src: url(./assets/font/FuturaNext-Medium.otf) format('opentype');
}

@layer components {
  .pagesLinks {
    @apply my-2 text-sm font-bold text-center px-2 tracking-wide
  }

  .btnProduct {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded uppercase
  }

  .centered {
    @apply flex justify-center items-center
  }

}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "Poppins", roboto, sans-serif !important;
  letter-spacing: 0.25px;
  /* font-size: 16px; */

}

b {
  /* font-weight: 600; */
  font-family: "PoppinsBold", Roboto, sans-serif !important;
}

.title {
  font-family: "Futura", Roboto, sans-serif !important;
}


i {
  font-family: FontAwesome !important;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bdbdbd;
  border-radius: 50px;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}